<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
<!-- Doc Links - Privilege Manager - main-->
  <t:site key="AgentInstaller">/install/agents/agent-inst-win-bundle.md</t:site>
  <t:site key="PrivilegeManagerForWindows">https://thycotic.com/products/privilege-manager-for-windows/</t:site>
  <t:site key="PrivilegeManagerForWindows_SystemRequirements">/install/sysreq.md</t:site>
  <t:site key="PrivilegeManagerForWindows_DatabaseRequirements">/install/sysreq.md</t:site>
  <t:site key="PrivilegeManagerForWindows_ReleaseNotesEmail">/release-notes/10.8.0-combined.md</t:site>
  <t:site key="PrivilegeManager">/</t:site>
  <t:site key="PrivilegeManagerActiveDirectory">/config/foreign-systems/active-directory/ad-sync.md</t:site>
  <t:site key="PrivilegeManagerPersona">/admin/personas.md</t:site>
  <t:site key="PrivilegeManagerEventDiscovery">/app-control/policies/bp-event-discovery.md</t:site>
  <t:site key="PrivilegeManagerPolicy">/app-control/policies</t:site>  
  <t:site key="TMSAgentSoftwareDownloads">/install/sw-downloads.md</t:site>
  <t:site key="Blocking">/app-control/policies/examples/block</t:site>
  <t:site key="RDPMonitorPolicies">/config/foreign-systems/misc/remove-rdp.md</t:site>  
  <t:site key="RDPMonitorAgentInstallerFile">https://updates.thycotic.net/SecretServer/Agents/ThycoticAgentsInstaller_RDPMonitor_x86_10_2_1678.exe</t:site>
  <t:site key="SSTMSInstallerBundle">https://updates.thycotic.net/secretserver/setup.exe</t:site>
  <t:site key="InstallerSecretServer">https://thycotic.com/products/secret-server/</t:site>
  <t:site key="InstallerPrivilegeManager">https://thycotic.com/products/privilege-manager/</t:site>
  <t:site key="PrivilegeManagerVault">/config/foreign-systems/thycotic/set-up-pm-ss-integration.md</t:site>
  <t:site key="PrivilegeManagerCertPermissions">/app-control/policies/examples/elevate/ms-visual-studio.md</t:site>
  <t:site key="PMAzureAD">/config/foreign-systems/active-directory/set-up-privilege-manager-azure-ad-integration.md</t:site>
  <t:site key="AzureADCreateApplication">/config/foreign-systems/active-directory/set-up-privilege-manager-azure-ad-integration.md</t:site>
  <t:site key="ThycoticCallHome">https://thycotic.force.com/support/s/article/Do-Thycotic-Products-Call-Home</t:site>
  <t:site key="CloudKeyManagement">https://thycotic.force.com/support/s/article/Cloud-Key-Management</t:site>
  <t:site key="SsServerNodes">https://thycotic.force.com/support/s/article/SS-Server-Nodes</t:site>
  <t:site key="SsServerClustering">https://thycotic.force.com/support/s/article/SS-ADM-EXT-Server-Clustering</t:site>
  <t:site key="ThycoticOneUserCreation">/admin/users</t:site>
  <t:site key="ManualRollingUpgrade">https://thycotic.force.com/support/s/article/SS-BP-EXT-Minimizing-Upgrade-Downtime</t:site>
  <t:site key="TwosenseIntegration">https://thycotic.force.com/support/s/article/SS-INTG-EXT-Twosense</t:site>
  <t:site key="PrivilegeManagerAVExclusions">/install/antivirus-exclusions.md</t:site>
  <t:site key="PrivilegeManagerUserGuide">/</t:site>
  <t:site key="PrivilegeManagerConnectSMTPServer">/config/foreign-systems/third-party/set-up-smtp.md</t:site>
  <t:site key="PrivilegeManagerADSync">/config/foreign-systems/active-directory/ad-sync.md</t:site>
  <t:site key="PrivilegeManagerWithSecretServer">/config/foreign-systems/thycotic/set-up-pm-ss-integration.md</t:site>
  <t:site key="PrivilegeManagerInstallAgents">/install/agents</t:site>
  <t:site key="PrivilegeManagerDownloadAgent">/install/sw-downloads.md</t:site>
  <t:site key="CatalinaWarning">/computer-groups/macOS/bp/bp-sys-pref.md</t:site>

<!-- Installer -->
  <t:site key="TMSAgent64">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgent_x64_10_7_2266.msi</t:site>
  <t:site key="TMSAgent32">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgent_x86_10_7_2266.msi</t:site>
  <t:site key="LSSAgent64">https://tmsnuget.thycotic.com/software/Agents/Thycotic_LocalSecurityAgent_x64_10_7_2219.msi</t:site>
  <t:site key="LSSAgent32">https://tmsnuget.thycotic.com/software/Agents/Thycotic_LocalSecurityAgent_x86_10_7_2219.msi</t:site>
  <t:site key="ACSAgent64">https://tmsnuget.thycotic.com/software/Agents/Thycotic_ApplicationControlAgent_x64_10_7_2257.msi</t:site>
  <t:site key="ACSAgent32">https://tmsnuget.thycotic.com/software/Agents/Thycotic_ApplicationControlAgent_x86_10_7_2257.msi</t:site>
  <t:site key="TMSBundledInstaller">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2266.exe</t:site>
  <t:site key="TMSBundledInstallerAll">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2266.exe</t:site>
  <t:site key="AgentInstallerFile">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2266.exe</t:site>
  <t:site key="PrivilegeManagerForWindows_AgentBundleInstaller">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2266.exe</t:site>

<!-- IBM Docs Links -->

  <t:site key="IBMSupport">https://www.ibm.com/mysupport/s/topic/0TO50000000IVs5GAG/security-secret-server?language=en_US&#038;productId=01t50000004ufoNAAQ</t:site>
  <t:site key="IBMKnowledgeBase">https://www.ibm.com/support/knowledgecenter/SSWHLP</t:site>
  <t:site key="IBMFeedback">https://www.ibm.com/developerworks/rfe/?BRAND_ID=301</t:site>
  <t:site key="IBMGettingStartedPM">https://www.ibm.com/support/knowledgecenter/SSWHLP</t:site>
  <t:site key="IBMUserGuidePM">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMUserGuideSS">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMPrivilegeManagerInstallGuide">http://ibm.biz/ss-pminstall</t:site>
  <t:site key="IBMSSGettingStarted">http://ibm.biz/ss-gettingstarted</t:site>  
  <t:site key="IBMEULA">http://www-03.ibm.com/software/sla/sladb.nsf/searchlis/?searchview&amp;searchorder=4&amp;searchmax=0&amp;query=(L-DTCS-B5LKWC,L-DTCS-B5M4JP,L-DTCS-B5MGX3,L-DTCS-B5MDUC)</t:site>  
  <t:site key="IBMThycoticOneUserCreation">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMAVExclusions">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMAzureADCreateApplication">https://supportcontent.ibm.com/support/pages/setting-azure-active-directory-integration-privilege-manager</t:site>
  <t:site key="IBMConnectSMTPServer">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMCatalinaWarning">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMPrivilegeManagerVault">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMPrivilegeManagerADSync">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMPrivilegeManagerWithSecretServer">http://public.dhe.ibm.com/software/security/products/isss/</t:site>
  <t:site key="IBMBlocking">http://public.dhe.ibm.com/software/security/products/isss/</t:site>

<!-- IBM Installer -->

  <t:site key="IBMAgentInstaller">http://www.ibm.com/support/docview.wss?uid=ibm10713591</t:site>
  <t:site key="IBMAgentSoftwareDownloads">http://www.ibm.com/support/docview.wss?uid=ibm10713591</t:site>
</t:sites>