<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
<!-- Doc Links - Privilege Manager - main-->
  <t:site key="AgentInstaller">/privman/10.8.0/install/agents/agent-inst-win-bundle.md</t:site>
  <t:site key="PrivilegeManager">/privman/10.8.0/index.md</t:site>
  <t:site key="TMSAgentSoftwareDownloads">/privman/10.8.0/install/sw-downloads.md</t:site>
  <t:site key="Blocking">/privman/10.8.0/computer-groups/app-control/examples/block/index.md</t:site>
  <t:site key="PrivilegeManagerVault">/privman/10.8.0/admin/config/foreign-systems/thycotic/set-up-pm-ss-integration.md#configure_privilege_manager_credential_vault__optional_</t:site>
  <t:site key="AzureADCreateApplication">/privman/10.8.0/admin/config/foreign-systems/active-directory/set-up-privilege-manager-azure-ad-integration.md</t:site>
  <t:site key="ThycoticOneUserCreation">/privman/10.8.0/admin/users#how_to_manually_add_thycotic_one_users</t:site>
  <t:site key="PrivilegeManagerAVExclusions">/privman/10.8.0/install/antivirus-exclusions.md</t:site>
  <t:site key="PrivilegeManagerUserGuide">/privman/10.8.0/index.md</t:site>
  <t:site key="PrivilegeManagerConnectSMTPServer">/privman/10.8.0/admin/config/foreign-systems/third-party/set-up-smtp.md</t:site>
  <t:site key="PrivilegeManagerADSync">/privman/10.8.0/admin/config/foreign-systems/active-directory/ad-sync.md</t:site>
  <t:site key="PrivilegeManagerWithSecretServer">/privman/10.8.0/admin/config/foreign-systems/thycotic/set-up-pm-ss-integration.md</t:site>
  <t:site key="CatalinaWarning">/privman/10.8.0/computer-groups/macOS/bp/bp-sys-pref.md</t:site>
  <t:site key="UpgradeWarning">/privman/10.8.0/index.md#what_s_new_in_privilege_manager_10_8</t:site>
  

<!-- keys not in product -->
  <t:site key="PMGettingStarted">/privman/10.8.0/getting-started</t:site>
  <t:site key="PMUG">/privman/10.8.0/index.md</t:site>
  <t:site key="PMInstall">/privman/10.8.0/install/index.md</t:site>
  <t:site key="PMLicense">/privman/10.8.0/getting-started/licenses.md</t:site>
  <t:site key="PMPolicyWizard">/privman/10.8.0/computer-groups/app-control/policies/policy-wizard.md</t:site>
  <t:site key="PMLocalSecurity">/privman/10.8.0/computer-groups/local-security/index.md</t:site>
  <t:site key="PMPolicyEndpoints">/privman/10.8.0/computer-groups/app-control/policies/ac-policy-endpoints.md</t:site>
  <t:site key="PMRollout">/privman/10.8.0/getting-started#rollout_recommendation</t:site>
  <t:site key="PMPriority">/privman/10.8.0/computer-groups/app-control/policies/priority.md</t:site>
  <t:site key="PMSMTP">/privman/10.8.0/admin/config/foreign-systems/third-party/set-up-smtp.md</t:site>
  <t:site key="PMVirusTotal">/privman/10.8.0/admin/config/foreign-systems/third-party/set-up-virustotal.md</t:site>
  <t:site key="PMCylance">/privman/10.8.0//admin/config/foreign-systems/third-party/set-up-cylance.md</t:site>
  <t:site key="PMServiceNow">/privman/10.8.0/admin/config/foreign-systems/third-party/set-up-servicenow.md</t:site>
  <t:site key="PMSysLog">/privman/10.8.0/admin/config/foreign-systems/third-party/set-up-syslog.md</t:site>
  <t:site key="PMSCCM">/privman/10.8.0/admin/config/foreign-systems/third-party/set-up-sccm.md</t:site>
  <t:site key="PMReports">/privman/10.8.0/reports/index.md</t:site>
  <t:site key="PMTS">/privman/10.8.0/troubleshooting/index.md</t:site>
  <t:site key="PMGlossary">/privman/10.8.0/troubleshooting/index.md</t:site>
  <t:site key="PMFilters">/privman/10.8.0/admin/filters/index.md</t:site>
  <t:site key="PMActions">/privman/10.8.0/admin/actions/index.md</t:site>
  <t:site key="PrivilegeManagerInstallAgents">/privman/10.8.0/install/agents/index.md</t:site>
  <t:site key="PrivilegeManagerDownloadAgent">/privman/10.8.0//install/sw-downloads.md</t:site>
  <t:site key="PrivilegeManagerForWindows_SystemRequirements">/privman/10.8.0/install/sysreq.md</t:site>
  <t:site key="PrivilegeManagerForWindows_DatabaseRequirements">/privman/10.8.0/install/sysreq.md</t:site>
  <t:site key="PrivilegeManagerForWindows_ReleaseNotesEmail">/privman/10.8.0/release-notes/10.8-combined.md</t:site>
  <t:site key="PrivilegeManagerActiveDirectory">/privman/10.8.0/admin/config/foreign-systems/active-directory/ad-sync.md</t:site>
  <t:site key="PrivilegeManagerPersona">/privman/10.8.0/admin/personas/index.md</t:site>
  <t:site key="PrivilegeManagerEventDiscovery">/privman/10.8.0/policy-events/bp-event-discovery.md</t:site>
  <t:site key="PrivilegeManagerPolicy">/privman/10.8.0/computer-groups/app-control/policies/index.md</t:site>  
  <t:site key="RDPMonitorPolicies">/privman/10.7.1/integration/misc/remove-rdp.md</t:site>  
  <t:site key="PrivilegeManagerCertPermissions">/privman/10.8.0/computer-groups/app-control/examples/elevate/ms-visual-studio.md</t:site>
  <t:site key="PMAzureAD">/privman/10.8.0/admin/config/foreign-systems/active-directory/set-up-privilege-manager-azure-ad-integration.md</t:site>
  <t:site key="ThycoticCallHome">/ss/10.8.0/security-hardening/secret-server-telemetry</t:site>
  <t:site key="CloudKeyManagement">https://thycotic.force.com/support/s/article/Cloud-Key-Management</t:site>
  <t:site key="SsServerNodes">https://thycotic.force.com/support/s/article/SS-Server-Nodes</t:site>
  <t:site key="SsServerClustering">/ss/10.8.0/networking/secret-server-clustering/index.md</t:site>
  <t:site key="ManualRollingUpgrade">https://thycotic.force.com/support/s/article/SS-BP-EXT-Minimizing-Upgrade-Downtime</t:site>
  <t:site key="TwosenseIntegration">https://thycotic.force.com/support/s/article/SS-INTG-EXT-Twosense</t:site>
  <t:site key="PrivilegeManagerForWindows">https://thycotic.com/products/privilege-manager-for-windows/</t:site>


<!-- Installer -->
  <t:site key="TMSAgent64">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgent_x64_10_7_2266.msi</t:site>
  <t:site key="TMSAgent32">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgent_x86_10_7_2266.msi</t:site>
  <t:site key="LSSAgent64">https://tmsnuget.thycotic.com/software/Agents/Thycotic_LocalSecurityAgent_x64_10_7_2219.msi</t:site>
  <t:site key="LSSAgent32">https://tmsnuget.thycotic.com/software/Agents/Thycotic_LocalSecurityAgent_x86_10_7_2219.msi</t:site>
  <t:site key="ACSAgent64">https://tmsnuget.thycotic.com/software/Agents/Thycotic_ApplicationControlAgent_x64_10_7_2257.msi</t:site>
  <t:site key="ACSAgent32">https://tmsnuget.thycotic.com/software/Agents/Thycotic_ApplicationControlAgent_x86_10_7_2257.msi</t:site>
  <t:site key="TMSBundledInstaller">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2266.exe</t:site>
  <t:site key="TMSBundledInstallerAll">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2266.exe</t:site>
  <t:site key="AgentInstallerFile">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2266.exe</t:site>
  <t:site key="PrivilegeManagerForWindows_AgentBundleInstaller">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2266.exe</t:site>

<!-- not in product -->
  <t:site key="RDPMonitorAgentInstallerFile">https://updates.thycotic.net/SecretServer/Agents/ThycoticAgentsInstaller_RDPMonitor_x86_10_2_1678.exe</t:site>
  <t:site key="SSTMSInstallerBundle">https://updates.thycotic.net/secretserver/setup.exe</t:site>
  <t:site key="InstallerSecretServer">https://thycotic.com/products/secret-server/</t:site>
  <t:site key="InstallerPrivilegeManager">https://thycotic.com/products/privilege-manager/</t:site>

<!-- Support -->
  <t:site key="Support">https://support.thycotic.com/</t:site>
  <t:site key="FeatureRequest">https://thycotic.force.com/support/s/article/Support-Portal-FAQ</t:site>
  <t:site key="SSKnowledgeBase">/privman</t:site>

<!-- EULA -->

  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>
  
<!-- IBM Docs Links -->

  <t:site key="IBMSupport">https://www.ibm.com/mysupport/s/topic/0TO50000000IVs5GAG/security-secret-server?language=en_US&#038;productId=01t50000004ufoNAAQ</t:site>
  <t:site key="IBMKnowledgeBase">https://www.ibm.com/support/knowledgecenter/SSWHLP</t:site>
  <t:site key="IBMFeedback">https://www.ibm.com/developerworks/rfe/?BRAND_ID=301</t:site>
  <t:site key="IBMGettingStartedPM">https://www.ibm.com/support/knowledgecenter/SSWHLP</t:site>
  <t:site key="IBMUserGuidePM">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_pm_userguide.pdf</t:site>
  <t:site key="IBMUserGuideSS">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/ss_qsg.pdf</t:site>
  <t:site key="IBMPrivilegeManagerInstallGuide">http://ibm.biz/ss-pminstall</t:site>
  <t:site key="IBMSSGettingStarted">http://ibm.biz/ss-gettingstarted</t:site>  
  <t:site key="IBMEULA">http://www-03.ibm.com/software/sla/sladb.nsf/searchlis/?searchview&amp;searchorder=4&amp;searchmax=0&amp;query=(L-DTCS-B5LKWC,L-DTCS-B5M4JP,L-DTCS-B5MGX3,L-DTCS-B5MDUC)</t:site>  
  <t:site key="IBMThycoticOneUserCreation">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_adminguide.pdf</t:site>
  <t:site key="IBMAVExclusions">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_adminguide.pdf</t:site>
  <t:site key="IBMAzureADCreateApplication">https://supportcontent.ibm.com/support/pages/setting-azure-active-directory-integration-privilege-manager</t:site>
  <t:site key="IBMConnectSMTPServer">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_adminguide.pdf</t:site>
  <t:site key="IBMCatalinaWarning">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_adminguide.pdf</t:site>
  <t:site key="IBMPrivilegeManagerVault">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_adminguide.pdf</t:site>
  <t:site key="IBMPrivilegeManagerADSync">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_adminguide.pdf</t:site>
  <t:site key="IBMPrivilegeManagerWithSecretServer">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_adminguide.pdf</t:site>
  <t:site key="IBMBlocking">http://public.dhe.ibm.com/software/security/products/isss/10.8.0/isss_adminguide.pdf</t:site>

<!-- IBM Installer -->

  <t:site key="IBMAgentInstaller">http://www.ibm.com/support/docview.wss?uid=ibm10713591</t:site>
  <t:site key="IBMAgentSoftwareDownloads">http://www.ibm.com/support/docview.wss?uid=ibm10713591</t:site>
</t:sites>