<!-- Doc Links -->

	<t:site key="AgentInstaller">https://docs.thycotic.com/privman/10.7.1/install/agents/agent-inst-win-bundle.md</t:site>
	<t:site key="PrivilegeManagerForWindows">https://thycotic.com/products/privilege-manager-for-windows/</t:site>
	<t:site key="PrivilegeManagerForWindows_SystemRequirements">https://docs.thycotic.com/privman/10.7.1/install/sysreq.md</t:site>
	<t:site key="PrivilegeManagerForWindows_DatabaseRequirements">https://docs.thycotic.com/privman/10.7.1/install/sysreq.md</t:site>
	<t:site key="PrivilegeManagerForWindows_ReleaseNotesEmail">https://docs.thycotic.com/privman/10.7.1/release-notes/10.7.1-combined.md</t:site>
	<t:site key="PrivilegeManager">https://docs.thycotic.com/privman/10.7.1/</t:site>
	<t:site key="PrivilegeManagerActiveDirectory">https://docs.thycotic.com/privman/10.7.1/local-security/ad-sync.md</t:site>
	<t:site key="PrivilegeManagerPersona">https://docs.thycotic.com/privman/10.7.1/local-security/personas.md</t:site>
	<t:site key="PrivilegeManagerEventDiscovery">https://docs.thycotic.com/privman/10.7.1/app-control/policies/bp-event-discovery.md</t:site>
	<t:site key="PrivilegeManagerPolicy">https://docs.thycotic.com/privman/10.7.1/app-control/policies</t:site>	
	<t:site key="TMSAgentSoftwareDownloads">https://docs.thycotic.com/privman/10.7.1/install/sw-downloads.md</t:site>
	<t:site key="Blacklisting">https://docs.thycotic.com/privman/10.7.1/app-control/policies/examples/block</t:site>
	<t:site key="RDPMonitorPolicies">https://docs.thycotic.com/privman/10.7.1/integration/misc/remove-rdp.md</t:site>	
	<t:site key="RDPMonitorAgentInstallerFile">https://updates.thycotic.net/SecretServer/Agents/ThycoticAgentsInstaller_RDPMonitor_x86_10_2_1678.exe</t:site>
	<t:site key="SSTMSInstallerBundle">https://updates.thycotic.net/secretserver/setup.exe</t:site>
	<t:site key="InstallerSecretServer">https://thycotic.com/products/secret-server/</t:site>
	<t:site key="InstallerPrivilegeManager">https://thycotic.com/products/privilege-manager/</t:site>
	<t:site key="PrivilegeManagerVault">https://docs.thycotic.com/privman/10.7.1/integration/thycotic/set-up-pm-ss-integration.md</t:site>
	<t:site key="PrivilegeManagerCertPermissions">https://docs.thycotic.com/privman/10.7.1/app-control/policies/examples/elevate/ms-visual-studio.md</t:site>
	<t:site key="PMAzureAD">https://docs.thycotic.com/privman/10.7.1/integration/active-directory/set-up-privilege-manager-azure-ad-integration.md</t:site>
	<t:site key="AzureADCreateApplication">https://docs.thycotic.com/privman/10.7.1/integration/active-directory/set-up-privilege-manager-azure-ad-integration.md</t:site>
	<t:site key="ThycoticCallHome">https://thycotic.force.com/support/s/article/Do-Thycotic-Products-Call-Home</t:site>
	<t:site key="CloudKeyManagement">https://thycotic.force.com/support/s/article/Cloud-Key-Management</t:site>
	<t:site key="SsServerNodes">https://thycotic.force.com/support/s/article/SS-Server-Nodes</t:site>
	<t:site key="SsServerClustering">https://thycotic.force.com/support/s/article/SS-ADM-EXT-Server-Clustering</t:site>
	<t:site key="ThycoticOneUserCreation">https://docs.thycotic.com/privman/10.7.1/ui/config/users/index.md</t:site>
	<t:site key="ManualRollingUpgrade">https://thycotic.force.com/support/s/article/SS-BP-EXT-Minimizing-Upgrade-Downtime</t:site>
	<t:site key="TwosenseIntegration">https://thycotic.force.com/support/s/article/SS-INTG-EXT-Twosense</t:site>
	<t:site key="PrivilegeManagerAVExclusions">https://docs.thycotic.com/privman/10.7.1/install/antivirus-exclusions.md</t:site>
	<t:site key="PrivilegeManagerUserGuide">https://docs.thycotic.com/privman/10.7.1/privman/</t:site>
	<t:site key="PrivilegeManagerConnectSMTPServer">https://docs.thycotic.com/privman/10.7.1/integration/third-party/set-up-smtp.md</t:site>
	<t:site key="PrivilegeManagerADSync">https://docs.thycotic.com/privman/10.7.1/local-security/ad-sync.md</t:site>
	<t:site key="PrivilegeManagerWithSecretServer">https://docs.thycotic.com/privman/10.7.1/integration/thycotic/set-up-pm-ss-integration.md</t:site>
	<t:site key="PrivilegeManagerInstallAgents">https://docs.thycotic.com/privman/10.7.1/install/agents/index.md</t:site>
	<t:site key="PrivilegeManagerDownloadAgent">https://docs.thycotic.com/privman/10.7.1/install/sw-downloads.md</t:site>
	<t:site key="CatalinaWarning">https://docs.thycotic.com/privman/10.7.1/ui/macOS/prefpane.md#catalina_preference_pane_behavior</t:site>

<!-- Installer -->
	<t:site key="TMSAgent64">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgent_x64_10_7_2219.msi</t:site>
	<t:site key="TMSAgent32">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgent_x86_10_7_2219.msi</t:site>
	<t:site key="LSSAgent64">https://tmsnuget.thycotic.com/software/Agents/Thycotic_LocalSecurityAgent_x64_10_7_2219.msi</t:site>
	<t:site key="LSSAgent32">https://tmsnuget.thycotic.com/software/Agents/Thycotic_LocalSecurityAgent_x86_10_7_2219.msi</t:site>
	<t:site key="ACSAgent64">https://tmsnuget.thycotic.com/software/Agents/Thycotic_ApplicationControlAgent_x64_10_7_2239.msi</t:site>
	<t:site key="ACSAgent32">https://tmsnuget.thycotic.com/software/Agents/Thycotic_ApplicationControlAgent_x86_10_7_2239.msi</t:site>
	<t:site key="TMSBundledInstaller">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2219.exe</t:site>
	<t:site key="TMSBundledInstallerAll">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2219.exe</t:site>
	<t:site key="AgentInstallerFile">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2178.exe</t:site>
	<t:site key="PrivilegeManagerForWindows_AgentBundleInstaller">https://tmsnuget.thycotic.com/software/Agents/ThycoticAgentsInstaller_x86_10_7_2219.exe</t:site>

<!-- IBM Docs Links -->

	<t:site key="IBMSupport">https://www.ibm.com/mysupport/s/topic/0TO50000000IVs5GAG/security-secret-server?language=en_US&#038;productId=01t50000004ufoNAAQ</t:site>
	<t:site key="IBMKnowledgeBase">https://www.ibm.com/support/knowledgecenter/SSWHLP</t:site>
	<t:site key="IBMFeedback">https://www.ibm.com/developerworks/rfe/?BRAND_ID=301</t:site>
	<t:site key="IBMGettingStartedPM">https://www.ibm.com/support/knowledgecenter/SSWHLP</t:site>
	<t:site key="IBMUserGuidePM">http://public.dhe.ibm.com/software/security/products/isss/10.6.0/isss_pm_userguide.pdf</t:site>
	<t:site key="IBMUserGuideSS">http://public.dhe.ibm.com/software/security/products/isss/10.7.0/isss_userguide.pdf</t:site>
	<t:site key="IBMPrivilegeManagerInstallGuide">http://ibm.biz/ss-pminstall</t:site>
	<t:site key="IBMSSGettingStarted">http://ibm.biz/ss-gettingstarted</t:site>	
	<t:site key="IBMEULA">http://www-03.ibm.com/software/sla/sladb.nsf/searchlis/?searchview&amp;searchorder=4&amp;searchmax=0&amp;query=(L-DTCS-B5LKWC,L-DTCS-B5M4JP,L-DTCS-B5MGX3,L-DTCS-B5MDUC)</t:site>	
	<t:site key="IBMThycoticOneUserCreation">https://docs.thycotic.com/privman/10.7.1/ui/config/users/index.md</t:site>
	<t:site key="IBMAVExclusions">https://docs.thycotic.com/privman/10.7.1/install/antivirus-exclusions.md</t:site>
	<t:site key="IBMAzureADCreateApplication">https://supportcontent.ibm.com/support/pages/setting-azure-active-directory-integration-privilege-manager</t:site>
	<t:site key="IBMConnectSMTPServer">https://docs.thycotic.com/privman/10.7.1/integration/third-party/set-up-smtp.md</t:site>
	<t:site key="IBMCatalinaWarning">https://docs.thycotic.com/privman/10.7.1/ui/macOS/prefpane.md#catalina_preference_pane_behavior</t:site>


<!-- IBM Installer -->

	<t:site key="IBMAgentInstaller">http://www.ibm.com/support/docview.wss?uid=ibm10713591</t:site>
	<t:site key="IBMAgentSoftwareDownloads">http://www.ibm.com/support/docview.wss?uid=ibm10713591</t:site>
